<p style="color:red"><%=flash[:notice]%></p><br/>
<%if @user.present?%>
hello,<%=@user.name%>
<%=button_to_function "Check In","checkin()"%>
<%else%>
<%=link_to "login",:action => "login"%>
<%end%>

<script type="text/javascript">
function checkin(){
  console.log("----");
  var xhr = createXmlHttpRequest();
  xhr.open("get","checkin",true);
  xhr.send(null);
  xhr.onreadystatechange = function(){
   if((xhr.readyState ==4) && (xhr.status == 200 || xhr.status == 304)){
    var butt = document.getElementsByTagName("input")[0];
    alert("check in successed");
    butt.disabled = true;
  }
 }
}
function createXmlHttpRequest() {  
    var xmlhttp = null;  
    try {  
        // Firefox, Opera 8.0+, Safari  
        xmlhttp = new XMLHttpRequest();  
    } catch (e) {// IE7.0以下的浏览器以ActiveX组件的方式来创建XMLHttpRequest对象  
        var MSXML = [ 'MSXML2.XMLHTTP.6.0', 'MSXML2.XMLHTTP.5.0',  
                'MSXML2.XMLHTTP.4.0', 'MSXML2.XMLHTTP.3.0', 'MSXML2.XMLHTTP',  
                'Microsoft.XMLHTTP' ];  
        for ( var i = 0; i < MSXML.length; i++) {  
            try {  
                xmlhttp = new ActiveXObject(MSXML[i]);  
                break;  
            } catch (e) {  
  
            }  
        }  
    }  
    // 返回对象  
    return xmlhttp;  
}  
</script>
